body {
  font-family:"Trebuchet MS", Verdana, Arial, sans-serif;
	/* for IE, to center the div:
	 * (see http://www.yourhtmlsource.com/stylesheets/csslayout.html) */
	text-align: center;
}

/*ul.navigation {
	text-align: left;
	position: absolute;
	list-style-type: none;
}*/


/****************************************/
/** codes:                             **/

.example {
	padding: 5px 5px 5px 5px;
	color: #000000;
	background-color: #f0f0f0;
}

.latex_code {
	padding: 5px 5px 5px 5px;
	color: #000000;
	background-color: #f0f0f0;
}

.terminal_code {
	padding: 5px 5px 5px 5px;
	color: #000000;
	background-color: #f0f0f0;
}

/****************************************/

#container {
	width: 800px;
	//width: 70%;	
	/* for firefox, opera etc., to center the div: */
	margin: 0 auto;     
	/* for IE, the div centering is done by centering the text in the
	 * body, so this is needed to get the text alignement right: */
	text-align: left;
}

/****************************************/
/* Links: */
a:link {
  color: #a00000;
  text-decoration: none;
}
a:visited { 
  color: #a00000;
  text-decoration: none;
}
a:hover { 
  color: #a00000;
  text-decoration: none;
  background-color: #e0e0e0;
}
a:active { 
  color: #a00000;
  text-decoration: none;
  background-color: #e0e0e0;
}

a.section:link {
  color: #000000;
  text-decoration: none;
}
a.section:visited { 
  color: #000000;
  text-decoration: none;
}
a.section:hover { 
  color: #000000;
  text-decoration: none;
  background-color: #e0e0e0;
}
a.section:active { 
  color: #000000;
  text-decoration: none;
  background-color: #e0e0e0;
}

img#email {
  vertical-align: bottom;
}


.cent {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.author {
    color: #606060;
    font-size: 0.75em;
}